.storeAdver img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.rightAdverBox {
  padding: 10px;
  height: 50%;
  cursor: pointer;
}

.storeAdver {
  max-height: 450px !important;
  height: 450px !important;
  margin-top: 20px;
  z-index: 0;
  position: relative;
}

.buttonChangeSlideAdverLeft {
  background-color: #9cadab;
  padding-top: 7px;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 7px;
}

.buttonChangeSlideAdverRight {
  background-color: #9cadab;
  padding-top: 7px;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: calc(34% + 1px);
}

.iconAdver {
  transform: scale(1.7);
}

/* Animation for sliding left */
.slide-left {
  animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0.2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for sliding right */
.slide-right {
  animation: slideRight 0.5s ease-in-out forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(-0.2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* To reset animation after transition */
.no-animation {
  animation: none;
}
.leftAdverBox {
  border-radius: 10px;
  padding: 10px 7px;
  height: 100%;
  max-height: 100%;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.storeImageSize {
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 15.5%;
}

.circleAdver {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.choseAdver {
  background-color: #662d91;
}
