.settingIcon {
  right: 20px;
  margin-top: 7px;
}

.sideBar {
  position: relative;
  background-color: #03a9f3 !important;
  box-shadow: none !important;
}

.storeIconRight {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.storeName {
  margin-top: 7px;
}

.logoDashBoard {
  width: 100%;
  height: 64px;
  cursor: pointer;
}

.menuDashBoard {
  margin-top: -5px;
  padding: 5px 15px;
  height: calc(100vh - 64px);
  box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.6);
}

.eachMenuDashBoard {
  margin-top: 30px;
  color: #a1a9bb;
  position: relative;
  cursor: pointer;
}
.choseEachMenuDashBoard {
  color: #03a9f3;
  font-weight: bold;
}

.arrowChoseIconMenu {
  position: absolute;
  right: 0px;
  transform: rotate(0deg);
  height: 10px;
}

.choseArrow {
  transform: rotate(90deg);
}

.subMenuDashBoard {
  padding: 5px 0px;
  color: #a1a9bb;
  padding-left: 35px;
}

.eachSubMenu {
  margin-top: 13px;
  font-weight: normal;
  cursor: pointer;
}

.storetitleDashBoard {
  margin-top: 1px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px -2px 28px 2px rgba(0, 0, 0, 0.6);
}

.titleDashBoard {
  margin-top: 3px;
  font-size: 18px;
}

.bodyDashBoard {
  background-color: #edf1f5;
  padding: 30px;
}

.storeLink {
  justify-content: right;
  align-self: center;
  font-size: 14px;
}

.iconLink {
  transform: scale(1);
  padding-bottom: 2px;
  color: #a1a9bb;
}

.buttonLink {
  background-color: #03a9f3 !important;
}

.storeButtonLink {
  margin-left: 10px;
}

.blueNotification {
  background-color: #01c0c8;
  padding: 2px 15px;
  color: white;
  border-radius: 15px;
  position: absolute;
  right: 25px;
  font-size: 14px;
}

.orangeNotification {
  background-color: #fb9678;
  padding: 2px 12px;
  color: white;
  border-radius: 15px;
  position: absolute;
  right: 25px;
  font-size: 14px;
}
.footer {
  padding: 15px 20px;
  background-color: #fafafa;
  /* align-content: end; */
  /* width: 83%; */
}
.footerKun {
  color: #fb9678;
  cursor: pointer;
}

.storeFormCRUD {
  height: 530px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.bodyFormCRUD {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.storeNameForm {
  background-color: #03a9f3;
  color: white;
  padding: 15px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.storeInputFieldForm {
  margin-top: 7px;
  margin-bottom: 25px;
}

.labelInputField {
  cursor: pointer;
  font-weight: bold;
}

.widthTextField {
  width: 100%;
}

.wapperInputField {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 60%;
}

.dataTable {
  height: calc(100vh - 256px);
}
