.formContact {
  background-color: #f8f8f8;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}

.titleContact {
  color: #2c3e50;
  font-weight: bold;
}

.slideUnderTitleContact {
  border: 2px solid #662d91;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 45px;
}

.contactText {
  list-style-type: none;
  color: #2c3e50;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.titleContactText {
  color: #2c3e50;
  font-weight: bold;
  font-size: 14px;
}

.formContact ul {
  padding-top: 10px;
}

.idea {
  margin-top: 10px;
  font-size: 14px;
}

.formLogoContact {
  margin-top: 15px;
  transform: scale(0.8);
  position: relative;
}
.logoContact {
  position: absolute;
  left: -13%;
  cursor: pointer;
}

.linkFooter {
  background-color: #2c3e50;
  text-align: center;
  padding: 10px 0px;
  color: white;
}
