.menu {
  background-color: #662d91;
}

.storeEachMenu{
    list-style-type:none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}


.eachMenu{
    padding: 15px 10px;
    cursor: pointer;
}

.eachMenu:hover{
    background-color: #793AA9;
}