.bigTitle{
    border-top: 2px dashed #C2C8CC;
    border-bottom: 2px dashed #C2C8CC ;
    border-left: 5px solid #662D91;
    background-color: #F8F8F8;
    padding:9px 13px 8px 13px;
    color: #2C3E50;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    margin-top: 5px;
}